body {
  margin: 0;
  font-family: 'Raleway',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(to right, rgb(20, 0, 134), rgb(15, 0, 102));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}