.Die i {
  font-size: 7rem;
}

.rolling {
  /* transition: all .5s; */
  /* transform: scale(1.05); */
  animation: wobble 1s ease;
  color: blue;
  /* font-size: 10rem; */
}


@keyframes wobble {

  40%,
  60% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(20deg);
  }

  70% {
    transform: rotate(0deg);
  }
}