.App {
  margin: 2rem 10rem;
  text-align: center;
}

.App-heading {
  margin-bottom: 7rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, rgb(35, 35, 255), rgb(6, 68, 88));
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  font-size: 5rem;
  font-weight: 700;
  transition: all .2s;
  margin-left: auto;
  backface-visibility: hidden;
}

.App h1:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: .5rem 1rem 2rem rgba(#000000, .2);
}